# Configuration file

##########################################################################################################
# tool
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the tools.cfg
##########################################################################################################

tool {
    S:"matteroverdrive:omni_tool"=pickaxe=3,shovel=3,axe=3
}


